Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn test, yarn lint-es, yarn type-check, yarn lint-css, yarn format

.lintstagedrc.json:

{
  "./**/*.{js,jsx,ts,tsx}": ["yarn test", "yarn lint-es"],
  "./**/*.{ts,tsx}": "yarn type-check",
  "./**/*.css": "yarn lint-css",
  "./**/*": "yarn format"
}

adds tests for ./helpers/location
  __tests__/helpers/location.test.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adds LetUsHelpCta component
  __tests__/components/LetUsHelpCta.test.tsx
  components/AccessLineCta.tsx
  components/LetUsHelpCta.module.css
  components/LetUsHelpCta.tsx
  components/PRRCcta.tsx
  components/PwaDownload.tsx
  components/index.ts
  pages/index.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn lint-css, yarn format

creates and adds tests for letushelp page and LetUsHelpTitle component
  __tests__/components/LetUsHelpTitle.test.tsx
  __tests__/pages/letushelp.test.tsx
  components/LetUsHelpTitle.module.css
  components/LetUsHelpTitle.tsx
  components/index.ts
  pages/letushelp/index.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn lint-css, yarn format

creates and adds test for LetUsHelpContainer
  __tests__/components/LetUsHelpContainer.test.tsx
  components/LetUsHelpContainer.module.css
  components/LetUsHelpContainer.tsx
  components/LetUsHelpTiles.module.css
  components/LetUsHelpTiles.tsx
  components/LetUsHelpTitle.module.css
  components/index.ts
  pages/letushelp/index.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn lint-css, yarn format

dirty commit: working on letushelp section
  components/LetUsHelpContainer.module.css
  components/LetUsHelpTiles.module.css
  components/LetUsHelpTiles.tsx
  constants/index.ts
  constants/routes.ts
  public/icons/clearmyrecord.svg
  public/icons/diversion.svg
  public/icons/treatmentcourt.svg
Due: yarn test, yarn lint-es, yarn type-check, yarn lint-css, yarn format

finishes LetUsHelp components and adds new icons, also adds tests for same
  __tests__/components/LetUsHelpTiles.test.tsx
  components/LetUsHelpContainer.module.css
  components/LetUsHelpTiles.module.css
  components/LetUsHelpTiles.tsx
  constants/routes.ts
  pages/letushelp/[categorypage].tsx
  public/icons/documents.svg
  public/icons/familyresources.svg
  public/icons/legalterms.svg
  public/icons/prearraignment.svg
  public/icons/recommendedresources.svg
  public/icons/resourcesforwomen.svg
Due: yarn test, yarn lint-es, yarn type-check, yarn lint-css, yarn format

refactors ./components/ResourceHub.module.css to avoid unattractive tile layouts on larger screens
  components/ResourceHub.module.css
Due: yarn lint-css, yarn format

adds and tests MostUsedResourcesCta
  __tests__/components/MostUsedResourcesCta.test.tsx
  components/MostUsedResourcesCta.module.css
  components/MostUsedResourcesCta.tsx
  components/index.ts
  pages/index.tsx
  public/images/ladders.png
Due: yarn test, yarn lint-es, yarn type-check, yarn lint-css, yarn format

adds AddYourOrg component for when we get to that point, currently links to blank page
  __tests__/components/AddYourOrg.test.tsx
  components/AddYourOrg.module.css
  components/AddYourOrg.tsx
  components/PwaDownload.tsx
  components/index.ts
  pages/addyourorg/index.tsx
  pages/index.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn lint-css, yarn format

adds and test TopThreeCta component
  __tests__/components/TopThreeCta.test.tsx
  components/PwaDownload.tsx
  components/TopThreeCta.module.css
  components/TopThreeCta.tsx
  components/index.ts
  constants/index.ts
  constants/routes.ts
  pages/index.tsx
  public/icons/phone.svg
  types/index.ts
  types/routes.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn lint-css, yarn format

changes copy for public defender route of TopThreeCta
  constants/routes.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adds a placeholder test for MapMarker component until I an figure out how to get the tests working with the mapbox library
  __tests__/components/MapMarker.test.tsx
  components/MapMarker.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

expands tests for LiveDataSearch
  __helpers__/dummyData.ts
  __tests__/components/LiveDataSearch.test.tsx
  components/LiveDataSearch.tsx
  jest.config.js
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adds vaildation for thrivesbc.com
  helpers/validators.ts
  types/CORS.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

validates domains that end with thrivesbc.com
  helpers/validators.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adds new cta AAMeetingsCta and tests for it as well
  __tests__/components/AAMeetingsCta.test.tsx
  components/AAMeetingsCta.module.css
  components/AAMeetingsCta.tsx
  components/index.ts
  pages/index.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn lint-css, yarn format

constructs and tests IsThisUsefulTag component,will construct pop-up form next
  __tests__/components/IsThisUsefulTag.test.tsx
  components/Footer.module.css
  components/IsThisUsefulTag.module.css
  components/IsThisUsefulTag.tsx
  components/index.ts
  pages/_app.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn lint-css, yarn format

creates IsThisUsefulForm component
  __tests__/components/IsThisUsefulTag.test.tsx
  components/IsThisUsefulForm.module.css
  components/IsThisUsefulForm.tsx
  components/IsThisUsefulTag.tsx
  components/index.ts
  types/index.ts
  types/records.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn lint-css, yarn format

expands on tests for IsThisUsefulForm.test.tsx
  __tests__/components/IsThisUsefulForm.test.tsx
  components/IsThisUsefulForm.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

finishes tests for IsThisUsefulTag
  __tests__/components/IsThisUsefulTag.test.tsx
  components/IsThisUsefulForm.tsx
  jest.setup.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

start work on diversion court flow pages
  __tests__/components/FullPageDecision.test.tsx
  components/FullPageDecision.module.css
  components/FullPageDecision.tsx
  components/index.ts
  constants/routes.ts
  pages/letushelp/diversion/apply.tsx
  pages/letushelp/diversion/areyouaclient.tsx
  pages/letushelp/diversion/index.tsx
  ui/Button.module.css
  ui/Button.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn lint-css, yarn format

Accordian for Hrefs
  components/HrefAccord.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding main accordian
  components/MainAccordian.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding probation accordian
  components/ProbationAccordian.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding tips accordian
  components/TipsAccordian.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding checklist data
  constants/checklist-data.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

more styles
  constants/materialStyles.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

making probation data
  constants/probation-data.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

checklist data
  types/checklist.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

cleaning up data
  pages/checklist/index.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

fixing links for BurgerItems
  components/BurgerItems.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

buids page for /letushelp/diversion/apply
  components/FullPageDecision.module.css
  pages/letushelp/diversion/apply.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn lint-css, yarn format

adds tests for diversion apply and areyouaclient pages
  __tests__/pages/letushelp_diversion.test.tsx
  __tests__/pages/letushelp_diversion_apply.test.tsx
  __tests__/pages/letushelp_diversion_areyouaclient.test.tsx
  pages/letushelp/diversion/areyouaclient.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

test for deploy
  components/DiversionTitle.tsx
  components/index.ts
  pages/letushelp/diversion/index.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

just one more section left to go on the Diversion landing page
  __tests__/components/DiversionTitle.test.tsx
  components/DiversionTitle.module.css
  components/DiversionTitle.tsx
  pages/letushelp/diversion/index.tsx
  ui/Paragraph.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn lint-css, yarn format

creates DiversionQualify component
  components/DiversionQualify.module.css
  components/DiversionQualify.tsx
  components/index.ts
  pages/letushelp/diversion/index.tsx
  public/icons/documents_smaller.svg
  public/icons/markericon.svg
  public/icons/treatmentheart.svg
Due: yarn test, yarn lint-es, yarn type-check, yarn lint-css, yarn format

creates tests for DiversionQualify
  __tests__/components/DiversionQualify.test.tsx
  components/DiversionQualify.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding privacy policy and disclaimer
  components/Footer.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

styling privacy
  components/Footer.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format
