Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn test, yarn lint-es, yarn type-check, echo 'lint-css disabled because of version/security issue. will check later', yarn format

.lintstagedrc.json:

{
  "./**/*.{js,jsx,ts,tsx}": ["yarn test", "yarn lint-es"],
  "./**/*.{ts,tsx}": "yarn type-check",
  "./**/*.css": "echo 'lint-css disabled because of version/security issue. will check later'",
  "./**/*": "yarn format"
}

wasn't the toml file
  netlify.toml
Due: yarn format

install netlify plugin in package.json to see if that helps
  package.json
  yarn.lock
Due: yarn format

adding older version of @netlify/plugin-nextjs
  package.json
  yarn.lock
Due: yarn format

trying another syntax thing
  package.json
  yarn.lock
Due: yarn format

fixes issue with package.json version
  package.json
Due: yarn format

adding Changes to style
  components/DisplayMap.module.css
Due: echo 'lint-css disabled because of version/security issue. will check later', yarn format

adding filter component
  components/Filters.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding categoryFilter to index
  components/index.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding MobileFilterModal
  components/MobileFilterModal.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding media query for mobile
  components/RecordPane.module.css
Due: echo 'lint-css disabled because of version/security issue. will check later', yarn format

adding description to categories
  constants/categories.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding constants to filter.ts
  constants/filter.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding constants to index
  constants/index.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding new styles
  constants/materialStyles.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding items to filter through
  constants/service-filter-data.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

restructure landing for filters
  pages/[category]/index.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding Filter Type
  types/filter.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

changing to optional
  types/records.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

proof of concept that postgres can be used with sererless functions for this project
  constants/database-creds.ts
  constants/index.ts
  package.json
  pages/api/postgres.ts
  types/database.ts
  types/index.ts
  yarn.lock
Due: yarn test, yarn lint-es, yarn type-check, yarn format

fixing refresh bug
  components/Filters.tsx
  pages/[category]/index.tsx
  types/filter.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

moves db init and kill methods into helper file
  helpers/database.ts
  helpers/index.ts
  pages/api/getFeedback.ts
  pages/api/postgres.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

refixing refresh bug
  components/MobileFilterModal.tsx
  pages/[category]/index.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

removing log
  pages/[category]/index.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

sets up sequelize as singleton process that gets called by lambda functions
  constants/database-creds.js
  constants/index.ts
  helpers/database.ts
  helpers/index.ts
  helpers/sequelize.js
  next.config.js
  pages/api/getFeedback.ts
  tsconfig.json
  types/database.ts
  types/index.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

both feedback routes working with postgres
  next.config.js
  pages/api/addFeedback.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adds easy postgres database docker compose file for local development
  data/init.sql
  data/locations.csv
  data/locations_organizations.csv
  data/organizations.csv
  data/schedules.csv
  data/schedules_locations.csv
  data/schedules_organizations.csv
  data/services.csv
  data/services_locations.csv
  data/services_organizations.csv
  docker_postgres.yml
  package.json
Due: yarn format

updates production postgres creds
  constants/database-creds.js
Due: yarn test, yarn lint-es, yarn format

cleaning up style and imports
  components/Filters.tsx
  components/MobileFilterModal.tsx
  components/index.ts
  constants/materialStyles.ts
  pages/[category]/index.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

smooths out database credential process and adds pg-hstore to package.json
  constants/database-creds.js
  helpers/sequelize.js
  next.config.js
  package.json
  yarn.lock
Due: yarn test, yarn lint-es, yarn format

adds getByCategory route
  constants/categories.ts
  constants/index.ts
  pages/api/getByCategory.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adds getSingleRecord route
  pages/api/getSingleRecord.ts
  pages/api/postFeedback.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adds searchByKeyword route
  pages/api/searchByKeyword.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

changes up database credential format
  constants/database-creds.js
Due: yarn test, yarn lint-es, yarn format

creates /data/remote_init.sql with odd psql \copy syntax, and adds same to .prettierignore
  .prettierignore
  data/remote_init.sql
Due: yarn format

starting sequelize as separate process
  Dockerfile
Due: yarn format

that did not work
  Dockerfile
Due: yarn format

adding category description component
  components/CategoryDescription.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding desktop filter component
  components/DesktopFilterView.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding display category component
  components/DisplayCategoryImage.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding smaller filter components
  components/FilterCity.tsx
  components/FilterGender.tsx
  components/FilterLanguage.tsx
  components/FilterService.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format
