Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

adds another meta tag description in _document
  pages/_document.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

begins work on a csp
  next.config.js
Due: yarn lint-es, yarn test, yarn format

hardens csp, next is to figure out reporting uri
  next.config.js
Due: yarn lint-es, yarn test, yarn format

moves headers directive to nextConfigOptions object in next.config.js
  next.config.js
Due: yarn lint-es, yarn test, yarn format

begins with HeadTags seo tags component, should make things simpler
  components/HeadTags.tsx
  components/index.ts
  next.config.js
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
  pages/thrivestories/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

static site tags for pages other than letushelp routes done
  components/HeadTags.tsx
  pages/[category]/index.tsx
  pages/aboutus/index.tsx
  pages/checklist/index.tsx
  pages/documents/specialtycourtsrequirements.tsx
  pages/faq/index.tsx
  pages/favorites/index.tsx
  pages/knowyourrights/index.tsx
  pages/orgs/[id].tsx
  pages/privacypolicy/index.tsx
  pages/search/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

finishes adjusting head tags for /letushelp routes. seo should be in a better place
  pages/checklist/index.tsx
  pages/letushelp/[wildcard]/apply.tsx
  pages/letushelp/[wildcard]/areyouaclient.tsx
  pages/letushelp/clearmyrecord/index.tsx
  pages/letushelp/diversion/index.tsx
  pages/letushelp/documents/index.tsx
  pages/letushelp/familyresources/index.tsx
  pages/letushelp/index.tsx
  pages/letushelp/legalterms/index.tsx
  pages/letushelp/prearraignment/index.tsx
  pages/letushelp/recommendedresources/index.tsx
  pages/letushelp/resourcesforwomen/index.tsx
  pages/letushelp/specialtycourts/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

restructuring dropdown buttons to fix hover bug
  components/Footer.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

css changes for dropdown button
  components/Footer.module.css
Due: yarn lint-css, yarn format

adjusting about div
  components/Footer.module.css
  components/Footer.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

adjusting margin for large desktop view
  components/Header.module.css
Due: yarn lint-css, yarn format

adding bash to docker setup for remotes sessions
  Dockerfile
  Multi Stage Docker Proof.txt
Due: yarn format

blah
  README.md
Due: yarn format

adding more faq data
  constants/faq-data.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding more questions
  pages/faq/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding faqs to index
  constants/index.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

small camel case change, alcoholanddrugclass -> alcoholAndDrugClass
  constants/faq-data.ts
  constants/index.ts
  pages/faq/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

forgot apple touch icon has to be a raster image
  pages/_document.tsx
  public/icons/thriveleaftouchicon.png
Due: yarn lint-es, yarn test, yarn type-check, yarn format

creates and executes script to be run against aproduction db to copy public info tables to CSVs
  data/locations.csv
  data/locations_organizations.csv
  data/organizations.csv
  data/remote_copy_tables.sql
  data/schedules.csv
  data/schedules_locations.csv
  data/schedules_organizations.csv
  data/services.csv
  data/services_locations.csv
  data/services_organizations.csv
Due: yarn format

figuring out how jwt for sessions and security would work
  next.config.js
  package.json
  pages/api/jwt.ts
  pages/api/testJwt.ts
  pages/login/index.tsx
  yarn.lock
Due: yarn lint-es, yarn test, yarn type-check, yarn format

i think this is a pretty good proof of concept for how logins would work with jwts
  pages/api/jwt.ts
  pages/api/testJwt.ts
  pages/login/index.tsx
  pages/testlogin/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

slight styling change and some more info about how this will work
  pages/api/jwt.ts
  pages/login/index.tsx
  pages/testlogin/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

fixes error that was breaking login if there were other cookies but no auth cookie
  pages/testlogin/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding credentials: include to cookie request. hoping it will fix the cookie not returning after deletion issue
  pages/login/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds next page tester back into testing workflow, with one test for the category page still broken. testing in general and this in particular need a lot of work
  __tests__/pages/aboutus.test.tsx
  __tests__/pages/category.test.tsx
  __tests__/pages/categoryId.test.tsx
  __tests__/pages/checklist.test.tsx
  __tests__/pages/knowyourrights.test.tsx
  __tests__/pages/letushelp.test.tsx
  __tests__/pages/letushelp_clearmyrecord.test.tsx
  __tests__/pages/letushelp_diversion.test.tsx
  __tests__/pages/letushelp_diversion_apply.test.tsx
  __tests__/pages/letushelp_diversion_areyouaclient.test.tsx
  __tests__/pages/letushelp_specialtycourts.test.tsx
  __tests__/pages/root.test.tsx
  __tests__/pages/thrivestories.test.tsx
  jest.config.js
  package.json
  pages/_app.tsx
  pages/_document.tsx
  yarn.lock
Due: yarn lint-es, yarn test, yarn type-check, yarn format

centralizes login flow to one family of routes. disallows access in production, as it is still under development
  pages/login/index.tsx
  pages/login/verify.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

removes unneecessary preload for roboto font from _document
  pages/_document.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

fixes security issue CVE-2021-3807 as wells as minor css styling issues in Footer and Header components
  components/Footer.module.css
  components/Header.module.css
  package.json
  yarn.lock
Due: yarn lint-css, yarn format

fixes CVE-2021-3795
  package.json
  yarn.lock
Due: yarn format

fixes CVE-2021-3777
  package.json
  yarn.lock
Due: yarn format

adds bcrypt and jwt sigining secrets for security
  next.config.js
  package.json
  pages/api/jwt.ts
  pages/login/verify.tsx
  yarn.lock
Due: yarn lint-es, yarn test, yarn type-check, yarn format

updates privacy policy
  constants/privacypolicy-data.ts
  pages/privacypolicy/index.tsx
  types/privacypolicy.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

makes package.json commands cross compatible with *nix and windows systems
  package.json
Due: yarn format

Add Melissa Ortiz Thrive story
  constants/index.ts
  constants/successStory-data.ts
  pages/thrivestories/index.tsx
  public/images/melissaortiz.JPG
  styles/globals.css
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

copies current prod database and builds new local docker db to reflect it
  data/locations.csv
  data/locations_organizations.csv
  data/services_locations.csv
Due: yarn format

creates Newsfeed component
  components/HomepageMainBanner.module.css
  components/Newsfeed.module.css
  components/Newsfeed.tsx
  components/index.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

begins to skeleton out newsfeed item schema
  components/HomepageMainBanner.tsx
  components/Newsfeed.module.css
  components/Newsfeed.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

sfinishes and styles VERY basic feed component
  components/HomepageMainBanner.tsx
  components/Newsfeed.module.css
  components/Newsfeed.tsx
  pages/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

comments out newsfeed component for the moment
  components/HomepageMainBanner.tsx
  pages/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

add space
  constants/successStory-data.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Path conditions:
  yarn lint-es: any of: ./**/*.{js,jsx,ts,tsx}
  yarn test: any of: ./**/*.{js,jsx,ts,tsx}
  yarn type-check: any of: ./**/*.{ts,tsx}
  yarn lint-css: any of: ./**/*.css
  yarn format: any of: ./**/*
