Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn test, yarn lint-es, yarn type-check, echo 'lint-css disabled because of version/security issue. will check later', yarn format

adding view hook
  helpers/view.js
  hooks/useView.js
Due: yarn test, yarn lint-es, yarn format

removing margin
  ui/Details.module.css
Due: echo 'lint-css disabled because of version/security issue. will check later', yarn format

removing language and people served filters
  components/Filters.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

creates script to do full production build with source maps, fixes minor code formatting issues
  components/DisplayMap.tsx
  components/MobileFilterModal.tsx
  helpers/view.js
  hooks/useView.js
  jest.config.js
  next.config.js
  package.json
  ui/Details.module.css
Due: yarn test, yarn lint-es, yarn type-check, echo 'lint-css disabled because of version/security issue. will check later', yarn format

fixes details width issue
  components/DisplayMap.module.css
  components/RecordPane.module.css
  components/Toast.module.css
  ui/Details.module.css
Due: echo 'lint-css disabled because of version/security issue. will check later', yarn format

final code cleanup before merging
  components/RecordPane.tsx
  pages/[category]/index.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

fixes CVE-2021-23343
  __tests__/components/Footer.test.tsx
  components/DisplayMap.tsx
  package.json
  yarn.lock
Due: yarn test, yarn lint-es, yarn type-check, yarn format

fixes security issue CVE-2021-3664
  package.json
  yarn.lock
Due: yarn format

just a test
  test.txt
Due: yarn format

fixes stylelint
  .lintstagedrc.json
  components/GlobalSearchResult.module.css
  components/RecordPane.module.css
  package.json
  yarn.lock
Due: echo 'lint-css disabled because of version/security issue. will check later', yarn format

narrowing down postcss resolution
  package.json
  yarn.lock
Due: yarn format

begins rework of tests
  jest.config.js
  package.json
  ui/FreshStartLeaf.tsx
  ui/FreshStartLogo.tsx
  ui/index.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

improves ui test coverage
  .lintstagedrc.json
  __tests__/ui/AdaptiveFlexContainer.test.tsx
  __tests__/ui/Button.test.tsx
  __tests__/ui/Input.test.tsx
  ui/AdaptiveFlexContainer.tsx
  ui/Input.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

now able to exclude specific lines from coverage with /* istanbul ignore next */
  jest.config.js
  pages/_document.tsx
  ui/Details.tsx
  ui/ThriveLogo.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

cleans up root page test
  __tests__/pages/root.test.tsx
  jest.config.js
  pages/_app.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

trims dead code
  components/CategoryDescription.tsx
  components/DisplayCategoryImage.tsx
  components/RecordPane.tsx
  components/index.ts
  constants/categories.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

further refining tests, deleting old and unused code
  __tests__/helpers/converters.test.ts
  helpers/converters.ts
  helpers/index.ts
  helpers/location.ts
  helpers/view.js
  helpers/view.ts
  hooks/useView.js
  jest.config.js
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding work break for burgerItems
  components/BurgerItems.module.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding favorites to the list
  components/BurgerItems.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

css changes for favorite icon
  components/GlobalSearchResult.module.css
  components/Header.module.css
  components/OrgRecordDisplay.module.css
Due: echo 'lint-css disabled because of version/security issue. will check later', yarn format

adding favorite icon and logic
  components/GlobalSearchResult.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding favorite icon and logic
  components/Header.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding favorite icon and logic moving on click to other elements
  components/OrgRecordCard.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding favorite icon and logic
  components/OrgRecordDisplay.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding translations
  constants/favorites.ts
  constants/index.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding badge styling for centering
  constants/materialStyles.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding /favorites route
  constants/routes.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding useFavorite hook
  hooks/index.ts
  hooks/useFavorite.js
Due: yarn test, yarn lint-es, yarn type-check, yarn format

commenting out setIsFocused
  components/GlobalSearchResult.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

changing name to FavoriteContext
  components/Header.tsx
  components/OrgRecordDisplay.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

changing name to FavoriteContext
  hooks/index.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding favorite context logic to app.tsx
  pages/_app.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding favorite page
  pages/favorites/index.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

making props optional to reuse in favorites page
  components/GlobalSearchResult.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

making props optional for favorites page
  types/routes.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

minor cleanup
  components/GlobalSearchResult.module.css
  components/GlobalSearchResult.tsx
  components/Header.tsx
  components/OrgRecordCard.tsx
  constants/favorites.ts
  constants/routes.ts
  pages/_app.tsx
  pages/favorites/index.tsx
Due: yarn test, yarn lint-es, yarn type-check, echo 'lint-css disabled because of version/security issue. will check later', yarn format

adding e.preventDefault() to fix click on card issue
  components/OrgRecordCard.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

changing values to reflect new /favorites route
  __tests__/components/Header.test.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding logic to not display favorite route in header
  components/Header.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding props back in to pass test
  constants/routes.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

Path conditions:
  yarn test: any of: ./**/*.{js,jsx,ts,tsx}
  yarn lint-es: any of: ./**/*.{js,jsx,ts,tsx}
  yarn type-check: any of: ./**/*.{ts,tsx}
  echo 'lint-css disabled because of version/security issue. will check later': any of: ./**/*.css
  yarn format: any of: ./**/*
