Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

Updated nanoid dependency
  package.json
  yarn.lock
Due: yarn format

Disabled insecure CBO APIs
  pages/api/postAddLocationRequest.ts
  pages/api/postDelLocationRequest.ts
  pages/api/postEditScheduleRequest.ts
  pages/api/postUpdateLocation.ts
  pages/api/postUpdateOrganization.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Added authUtil helpers and added auth to recordClearance API
  helpers/authUtils.ts
  helpers/index.ts
  pages/api/recordClearance.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Added fallback link when PDF won't display
  components/PDFViewer.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Wrapped in div and changed messaging
  components/PDFViewer.module.css
  components/PDFViewer.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

Removed intake form instruction page
  documents/FreshStartIntakeForm.pdf
  documents/FreshStartIntakeFormSpanish.pdf
Due: yarn format

Bumped Next.jsto backported bug fix version 12.3.6
  package.json
  yarn.lock
Due: yarn format

Bumped babel and axios to patch vulns
  package.json
  yarn.lock
Due: yarn format

Upgraded form-data 4.0.0 to 4.0.4
  package.json
  yarn.lock
Due: yarn format

fix: updated browserlist to required version
  package.json
  yarn.lock
Due: yarn format

fix: update all dependencies within range
  package.json
  yarn.lock
Due: yarn format

fix: update validator.js
  yarn.lock
Due: yarn format

update: jsonwebtoken, js-yaml, validator
  package.json
  yarn.lock
Due: yarn format

Upgraded lodash, axios, qs
  package.json
  yarn.lock
Due: yarn format

Path conditions:
  yarn lint-es: any of: ./**/*.{js,jsx,ts,tsx}
  yarn test: any of: ./**/*.{js,jsx,ts,tsx}
  yarn type-check: any of: ./**/*.{ts,tsx}
  yarn lint-css: any of: ./**/*.css
  yarn format: any of: ./**/*
