Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

added tiles
  components/HomepageMainBanner.module.css
  components/HomepageMainBanner.tsx
  constants/routes.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

move info boxes on same line
  components/LocationRecordDisplay.module.css
  components/LocationRecordDisplay.tsx
  components/SendText.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

Remove FS phone number and used office numbers
  components/FreshStartHowToApply.tsx
  components/FreshStartLanding/FreshStartHowToApply/FreshStartHowToApply.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

update FS 5-7 days to 4-6 weeks
  pages/api/sendGridWebhook.ts
  pages/freshstart/apply.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

WIP added filter dropdown
  components/TagPane.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Revert "WIP added filter dropdown"
  components/TagPane.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

update to grid layout
  __tests__/components/ResourceHub.test.tsx
  components/HomepageMainBanner.module.css
  components/HomepageMainBanner.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

remove spaces
  components/ResourceHub.module.css
Due: yarn lint-css, yarn format

increase hieht on main div
  components/HomepageMainBanner.module.css
Due: yarn lint-css, yarn format

smaller icon
  components/HomepageMainBanner.module.css
  components/HomepageMainBanner.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

updated media qery and remove comment
  components/HomepageMainBanner.module.css
  components/HomepageMainBanner.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

update flex number and duplicate CSS
  components/DisplayMap.module.css
  components/LocationRecordDisplay.module.css
Due: yarn lint-css, yarn format

remove duplicate file
  components/DiversionLanding/DiversionLandingPage.module.css
  components/DiversionLanding/DiversionLandingPage.tsx
  pages/dashboard/indexOriginal.tsx
  tsconfig.tsbuildinfo
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

update critical and jwwebtoken
  __tests__/components/LocationRecordDisplay.test.tsx
  __tests__/components/OrgRecordDisplay.test.tsx
  next.config.js
  package.json
  yarn.lock
Due: yarn lint-es, yarn test, yarn type-check, yarn format

trigger build
  __tests__/components/LocationRecordDisplay.test.tsx
  __tests__/components/OrgRecordDisplay.test.tsx
  components/HomePage/HomepageMainBanner.tsx
  pages/api/twilio.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

update dependencies
  __tests__/components/SendText.test.tsx
  components/SendText.tsx
  package.json
  pages/api/twilio.ts
  yarn.lock
Due: yarn lint-es, yarn test, yarn type-check, yarn format

update decode-uri-component
  package.json
  yarn.lock
Due: yarn format

update decode uri component to version 4
  yarn.lock
Due: yarn format

updated dependencies
  yarn.lock
Due: yarn format

fix output from serverless to standalone
  next.config.js
Due: yarn lint-es, yarn test, yarn format

Changed the @types/react version in devDependencies to match version in dependencies
  package.json
  yarn.lock
Due: yarn format

Added created and updated columns to local test data
  data/docker_pg_init.sql
Due: yarn format

Change CrossOrigin to Valid value
  pages/_document.tsx
  yarn.lock
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Added files to gitignore
  .gitignore
  tsconfig.tsbuildinfo
Due: yarn format

Removed tsconfig.tsbuildinfo
  tsconfig.tsbuildinfo
Due: yarn format

Updated Moderate/Critical Vulnerabilities
  package.json
  yarn.lock
Due: yarn format

Update recordClearance API commPrefs
  pages/api/recordClearance.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Update Dockerfile
  Dockerfile
Due: yarn format

Update recordClearance.ts
  pages/api/recordClearance.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Updated twilio and axios to fix Dependabot alert
  yarn.lock
Due: yarn format

Upgraded sendgrid/mail and axios
  package.json
  yarn.lock
Due: yarn format

Moved radio button to the left of labels
  components/ExpungementDemographics.tsx
  components/ExpungementForm.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Moved checkbox of ExpungementSignature
  components/ExpungementSignature.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Added city_convicted field title
  components/ExpungementForm.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Resolved lint css errors
  components/Credo47Landing/Credo47Landing.module.css
  components/DiversionLanding/DiversionLandingPage.module.css
  components/FreshStartLanding/FreshStartLanding.module.css
Due: yarn lint-css, yarn format

Changed Input and label spacing in RadioCards
  components/ExpungementForm.module.css
Due: yarn lint-css, yarn format

Changed number Input types to text
  components/ExpungementForm.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Repositioned and styled radio/checkbox buttons
  pages/signup/index.module.css
  pages/signup/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

Reposition and styled radio/checkbox buttons
  pages/forgotpassword/index.module.css
  pages/forgotpassword/index.tsx
  pages/login/index.module.css
  pages/login/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

Updated @adobe/css-tools to patched version
  package.json
  yarn.lock
Due: yarn format

Path conditions:
  yarn lint-es: any of: ./**/*.{js,jsx,ts,tsx}
  yarn test: any of: ./**/*.{js,jsx,ts,tsx}
  yarn type-check: any of: ./**/*.{ts,tsx}
  yarn lint-css: any of: ./**/*.css
  yarn format: any of: ./**/*
