Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

.lintstagedrc.json:

{
  "./**/*.{js,jsx,ts,tsx}": ["yarn lint-es", "yarn test"],
  "./**/*.{ts,tsx}": "yarn type-check",
  "./**/*.css": "yarn lint-css",
  "./**/*": "yarn format"
}

Ran prettier
  .gitattributes
  pages/thrivestories/index.tsx
  styles/globals.css
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

fixing file casing issue with jpg
  next.config.js
Due: yarn lint-es, yarn test, yarn format

melissaortiz wasnts to stay uppercase JPG, so we won't fight that
  constants/successStory-data.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds two events for a proof of concept to show partners
  components/HomepageMainBanner.tsx
  components/Newsfeed.module.css
  components/Newsfeed.tsx
  pages/index.tsx
  public/images/2016-veterans-stand-down_2.png
  public/images/uscb-underground-scholars.png
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

WIP added FAQ constant
  constants/faq-data.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

hooks up SendGrid for sending client PDF documents
  next.config.js
  package.json
  pages/api/recordClearance.ts
  yarn.lock
Due: yarn lint-es, yarn test, yarn type-check, yarn format

form reading and sending, pretty good start
  documents/SBPD_EXPUNGEMENT_FINANCIAL_DECLARATION_Updated_10_20_19.pdf
  next.config.js
  package.json
  pages/api/recordClearance.ts
  pages/index.tsx
  yarn.lock
Due: yarn lint-es, yarn test, yarn type-check, yarn format

more progress on filling out the x and y values of the finacial declaration form
  pages/api/recordClearance.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

check if user
  components/WithPrivateRoute.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding routes
  constants/index.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

spellcheck
  constants/privacypolicy-data.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding login and sign up route info
  constants/routes.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding info for users table
  helpers/sequelize.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding form fields hook
  hooks/index.ts
  hooks/useFormFields.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding postUser route
  pages/api/postUser.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding dashboard to test userAuth
  pages/dashboard/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

draft, started working on creating users first
  pages/login/index.tsx
  pages/login/verify.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

form validation and new userform
  pages/signup/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Adding User type
  types/index.ts
  types/records.ts
  types/sequelize.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changes font reduction to .1 instead of 1
  pages/api/recordClearance.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

WIP: added Clear my record to UI
  constants/index.ts
  pages/faq/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

making good progress filling out finance form, abstracted some of the stuff so it's not all in the api route itself
  constants/forms.ts
  constants/index.ts
  pages/api/recordClearance.ts
  types/forms.ts
  types/index.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

financial declaration forms can now be filled out in english and spanish
  constants/forms.ts
  pages/api/recordClearance.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

centralizes string constants at top of recordClearance.ts
  pages/api/recordClearance.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

wrestling with PDF library
  1.pdf
  constants/forms.ts
  constants/index.ts
  documents/1_SBPD_EXPUNGEMENT_APPLICATION.pdf
  documents/2_SBPD_EXPUNGEMENT_APPLICATION.pdf
  documents/3_SBPD_EXPUNGEMENT_APPLICATION.pdf
  documents/4_SBPD_EXPUNGEMENT_APPLICATION.pdf
  documents/5_SBPD_EXPUNGEMENT_APPLICATION.pdf
  documents/6_SBPD_EXPUNGEMENT_APPLICATION.pdf
  documents/7_SBPD_EXPUNGEMENT_APPLICATION.pdf
  documents/8_SBPD_EXPUNGEMENT_APPLICATION.pdf
  documents/9_SBPD_EXPUNGEMENT_APPLICATION.pdf
  pages/api/recordClearance.ts
  types/forms.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

set to fill in both forms the same way
  1.pdf
  constants/forms.ts
  constants/index.ts
  documents/1_SBPD_EXPUNGEMENT_APPLICATION.pdf
  documents/2_SBPD_EXPUNGEMENT_APPLICATION.pdf
  documents/3_SBPD_EXPUNGEMENT_APPLICATION.pdf
  documents/4_SBPD_EXPUNGEMENT_APPLICATION.pdf
  documents/5_SBPD_EXPUNGEMENT_APPLICATION.pdf
  documents/6_SBPD_EXPUNGEMENT_APPLICATION.pdf
  documents/7_SBPD_EXPUNGEMENT_APPLICATION.pdf
  documents/8_SBPD_EXPUNGEMENT_APPLICATION.pdf
  documents/9_SBPD_EXPUNGEMENT_APPLICATION.pdf
  documents/SBPD_EXPUNGEMENT_Application.pdf
  pages/api/recordClearance.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

application form filling out well
  constants/forms.ts
  documents/SBPD_EXPUNGEMENT_Application.pdf
  pages/api/recordClearance.ts
  temp.pdf
Due: yarn lint-es, yarn test, yarn type-check, yarn format

backend pdf stuff in good shape, moving on to the front end forms
  helpers/forms.ts
  helpers/index.ts
  pages/api/recordClearance.ts
  temp.pdf
Due: yarn lint-es, yarn test, yarn type-check, yarn format

readme update
  README.md
Due: yarn format

adds margin to is this useful form so that it won't overlap with mobile bar on smaller views
  components/IsThisUsefulForm.module.css
Due: yarn lint-css, yarn format

adds expungment page and begins expungment form component
  components/ExpungementForm.module.css
  components/ExpungementForm.tsx
  components/index.ts
  pages/expungement/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

constructs expungment info interface
  components/ExpungementForm.module.css
  components/ExpungementForm.tsx
  types/forms.ts
  types/index.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

starts on expungment main info component
  components/ExpungementForm.module.css
  components/ExpungementForm.tsx
  components/ExpungementMainInfo.tsx
  components/index.ts
  constants/forms.ts
  constants/index.ts
  ui/Input.module.css
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

ident info to a good place now
  components/ExpungementForm.module.css
  components/ExpungementForm.tsx
  components/ExpungementMainInfo.module.css
  components/ExpungementMainInfo.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

case info component added
  components/ExpungementCaseInfo.module.css
  components/ExpungementCaseInfo.tsx
  components/ExpungementForm.tsx
  components/ExpungementMainInfo.module.css
  components/ExpungementMainInfo.tsx
  components/index.ts
  documents/SBPD_EXPUNGEMENT_FINANCIAL_DECLARATION_Updated_10_20_19.pdf
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

adds probation and restitution portion of the form
  components/ExpungementCaseInfo.module.css
  components/ExpungementCaseInfo.tsx
  components/ExpungementForm.module.css
  components/ExpungementForm.tsx
  components/ExpungementMainInfo.module.css
  components/ExpungementMainInfo.tsx
  components/ExpungementProbationInfo.tsx
  components/index.ts
  pages/expungement/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

added uptrust enroll checkbox
  components/ExpungementForm.tsx
  components/ExpungementMainInfo.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

begins marital and veteran status portion of form
  components/ExpungementForm.tsx
  components/ExpungementMaritalAndVeteranStatus.tsx
  components/index.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds marital and veteran status portion of expungement form
  components/ExpungementMaritalAndVeteranStatus.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds dependent section of expungement form
  components/ExpungementDependents.tsx
  components/ExpungementForm.tsx
  components/ExpungementMaritalAndVeteranStatus.tsx
  components/index.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format
