Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

.lintstagedrc.json:

{
  "./**/*.{js,jsx,ts,tsx}": ["yarn lint-es", "yarn test"],
  "./**/*.{ts,tsx}": "yarn type-check",
  "./**/*.css": "yarn lint-css",
  "./**/*": "yarn format"
}

Reordered payment frequency options
  components/ExpungementForm.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Reordered account type options for consistency
  pages/forgotpassword/index.tsx
  pages/login/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Added more descriptive CSS class name
  pages/signup/index.module.css
  pages/signup/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

Added LoginStatus hook to modify login/logout button
  __helpers__/contexts.tsx
  components/FreshStartApplyTag.tsx
  components/Header.tsx
  hooks/index.ts
  hooks/useLoginStatus.tsx
  pages/_app.tsx
  pages/dashboard/index.tsx
  pages/freshstart/apply.tsx
  pages/login/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Updated logged in status when visiting FreshStart
  components/FreshStartApplyTag.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Updated axios resolution to patch follow-redirects
  package.json
  yarn.lock
Due: yarn format

Moved verify org email into correct block
  pages/api/postSignup.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Replaced expungement intake forms with updated versions
  documents/FreshStartIntakeForm.pdf
  documents/FreshStartIntakeFormSpanish.pdf
Due: yarn format

Added place/country of birth to online expungement form
  components/ExpungementForm.tsx
  constants/forms.ts
  types/forms.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Updated email to new post conviction unit email address
  components/FreshStartHowToApply.tsx
  components/FreshStartLanding/FreshStartHowToApply/FreshStartHowToApply.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Added missing commas to application instructions
  components/FreshStartLanding/FreshStartHowToApply/FreshStartHowToApply.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Added missing commas to application instructions
  components/FreshStartHowToApply.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Updated ws and added resolution for braces
  package.json
  yarn.lock
Due: yarn format

Added onClick to reset search result focus after selection
  components/GlobalSearchResult.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Added div for result selection to only unfocus if selected
  components/GlobalSearchResult.module.css
  components/GlobalSearchResult.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

Upgraded axios, removed unused elliptic package
  package.json
  yarn.lock
Due: yarn format

Updated micromatch to patch ReDOS vuln
  package.json
  yarn.lock
Due: yarn format

Added workaround to patch next.js vuln
  next.config.js
Due: yarn lint-es, yarn test, yarn format

Removed exceptions from response errors
  pages/api/logout.ts
  pages/api/postAddLocationRequest.ts
  pages/api/postAddNewLocation.ts
  pages/api/postAddNewSchedule.tsx
  pages/api/postAddNewService.tsx
  pages/api/postDelLocationRequest.ts
  pages/api/postDeleteLocation.tsx
  pages/api/postDeleteSchedule.tsx
  pages/api/postDeleteService.tsx
  pages/api/postEditScheduleRequest.ts
  pages/api/postFeedback.ts
  pages/api/postLogin.ts
  pages/api/postOrg.ts
  pages/api/postResetPassword.tsx
  pages/api/postSignup.ts
  pages/api/postUpdateCBOInfo.ts
  pages/api/postUpdateLocation.ts
  pages/api/postUpdateOrganization.ts
  pages/api/postVerifyEmail.ts
  pages/api/recordClearance.ts
  pages/api/searchByKeyword.ts
  pages/api/sendGridWebhook.ts
  pages/api/twilio.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Removed 500 status code unless previously existed
  pages/api/logout.ts
  pages/api/postAddLocationRequest.ts
  pages/api/postAddNewLocation.ts
  pages/api/postAddNewSchedule.tsx
  pages/api/postAddNewService.tsx
  pages/api/postDelLocationRequest.ts
  pages/api/postDeleteLocation.tsx
  pages/api/postDeleteSchedule.tsx
  pages/api/postDeleteService.tsx
  pages/api/postEditScheduleRequest.ts
  pages/api/postFeedback.ts
  pages/api/postLogin.ts
  pages/api/postOrg.ts
  pages/api/postResetPassword.tsx
  pages/api/postSignup.ts
  pages/api/postUpdateCBOInfo.ts
  pages/api/postUpdateLocation.ts
  pages/api/postUpdateOrganization.ts
  pages/api/postVerifyEmail.ts
  pages/api/recordClearance.ts
  pages/api/searchByKeyword.ts
  pages/api/sendGridWebhook.ts
  pages/api/twilio.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Added ValidationError class for custom errors
  helpers/index.ts
  helpers/validators.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Added custom error and message
  pages/api/postLogin.ts
  pages/api/postVerifyEmail.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Added ValidationError and changed error messages
  pages/api/recordClearance.ts
  pages/api/searchByKeyword.ts
  pages/api/twilio.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Disabled insecure API
  pages/api/twilio.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Removed unused import
  pages/api/twilio.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Added consistent messaging in response
  pages/api/postForgotPassword.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Upgraded cross-spawn to patch CVE
  package.json
  yarn.lock
Due: yarn format

Removed user obj and account exists error from response
  pages/api/postSignup.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Changed the signup error message"
  hooks/useForm.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Changed response messages to prevent user enumeration
  pages/forgotpassword/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Reorganized responses
  pages/api/postForgotPassword.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Moved updated and resetCode variables into correct scope
  pages/api/postForgotPassword.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Added manual response to avoid leaking sendGrid response
  pages/api/recordClearance.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Added ValidationError check in error handling
  components/ExpungementForm.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Changed comment wording for clarity
  components/ExpungementForm.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Fixed error responding with an object
  pages/api/recordClearance.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Removed sendGrid response from API response
  pages/api/postAddLocationRequest.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Disabled unused API
  pages/api/postAddNewLocation.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Disabled unused APIs
  pages/api/postAddNewSchedule.tsx
  pages/api/postAddNewService.tsx
  pages/api/postDeleteLocation.tsx
  pages/api/postDeleteSchedule.tsx
  pages/api/postDeleteService.tsx
  pages/api/postUpdateCBOInfo.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Removed unnecessary data from responses
  pages/api/postDelLocationRequest.ts
  pages/api/postEditScheduleRequest.ts
  pages/api/postFeedback.ts
  pages/api/postUpdateLocation.ts
  pages/api/postUpdateOrganization.ts
  pages/api/postVerifyEmail.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format
