Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

.lintstagedrc.json:

{
  "./**/*.{js,jsx,ts,tsx}": ["yarn lint-es", "yarn test"],
  "./**/*.{ts,tsx}": "yarn type-check",
  "./**/*.css": "yarn lint-css",
  "./**/*": "yarn format"
}

wip update translation
  components/BurgerItems.tsx
  components/Footer.tsx
  components/Header.tsx
  constants/cards.ts
  constants/successStory-data.ts
  pages/letushelp/familyresources/index.tsx
  pages/letushelp/resourcesforwomen/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Reroute clear my record to fresh start landing page
  components/LetUsHelpTiles.tsx
  constants/routes.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

remove links to social medai pages
  components/Footer.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

add spanish declaration form
  components/FreshStartHowToApply.tsx
  components/FreshStartLanding/FreshStartHowToApply/FreshStartHowToApply.tsx
  constants/documents.ts
  constants/index.ts
  documents/Financial_Declaration_Spanish.pdf
  pages/documents/expungementfinanceformSpanish.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

wip: update translation
  types/legalterms.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

remove maintenance warning for FS page
  components/FreshStartApplyTag.module.css
  pages/login/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

update legal term translation
  constants/legalterms-data.ts
  types/legalterms.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

wip
  components/ExpungementForm.tsx
  components/FreshStartLanding/FreshStartHowToApply/FreshStartHowToApply.tsx
  constants/documents.ts
  constants/forms.ts
  documents/FreshStartIntakeForm.pdf
  pages/api/recordClearance.ts
  types/forms.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

wip
  components/ExpungementDemographics.tsx
  components/ExpungementForm.tsx
  documents/FreshStartIntakeForm.pdf
  helpers/forms.ts
  pages/api/recordClearance.ts
  types/forms.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

update intake form
  components/ExpungementForm.tsx
  constants/forms.ts
  documents/Expungements_Intake.pdf
  helpers/forms.ts
  pages/api/recordClearance.ts
  types/forms.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

uncomment DB call to update Has applied for expungement value
  pages/api/recordClearance.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Wip
  components/Credo47Landing/Credo47Landing.module.css
  components/Credo47Landing/Credo47Landing.tsx
  components/DiversionLanding/DiversionLandingPage.module.css
  components/DiversionLanding/DiversionLandingPage.tsx
  pages/letushelp/diversion/credo47/index.tsx
  public/images/house.jpg
  public/images/library.jpg
  public/images/pictures.jpg
  public/images/policeCar.jpg
  public/images/rehabHands.jpg
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

Add spanish version of FS intake form
  components/FreshStartHowToApply.tsx
  components/FreshStartLanding/FreshStartHowToApply/FreshStartHowToApply.tsx
  constants/documents.ts
  constants/index.ts
  documents/FreshStartIntakeFormSpanish.pdf
  pages/documents/expungementintakeformSpanish.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

wip
  components/FreshStartLanding/FreshStartHowToApply/FreshStartHowToApply.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

add quick start guide
  components/FreshStartLanding/FreshStartHowToApply/FreshStartHowToApply.tsx
  constants/documents.ts
  constants/index.ts
  documents/ExpungementQuickStartGuide.pdf
  pages/documents/expungementquickstartguide.tsx
  pages/documents/expungementquickstartguideSpanish.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

switched pdf file name
  pages/documents/expungementquickstartguide.tsx
  pages/documents/expungementquickstartguideSpanish.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

add stand down event 2022 and remove scroll bar
  components/HomepageMainBanner.module.css
  components/HomepageMainBanner.tsx
  components/Newsfeed.module.css
  components/Newsfeed.tsx
  pages/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

code clean up
  components/HomepageMainBanner.module.css
  components/Newsfeed.module.css
  components/Newsfeed.tsx
  pages/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

fix div overlap and alignment with text
  components/HomepageMainBanner.module.css
  components/Newsfeed.module.css
Due: yarn lint-css, yarn format

WIP remove heigh from banner
  components/HomepageMainBanner.module.css
Due: yarn lint-css, yarn format

delete copied index file
  pages/dashboard/indexOriginal.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

fix ui and updated jest library
  components/HomepageMainBanner.module.css
  package.json
  yarn.lock
Due: yarn lint-css, yarn format

WIP updgraded node sequlize moment
  package.json
  yarn.lock
Due: yarn format

WIP updated vulnerable dep from yarn audit
  yarn.lock
Due: yarn format

WIP upgraded all green dependencies
  package.json
  yarn.lock
Due: yarn format

WIP upgrade PG
  package.json
  yarn.lock
Due: yarn format

update yarn
  yarn.lock
Due: yarn format

updated browserlist
  yarn.lock
Due: yarn format

update webpack
  package.json
  yarn.lock
Due: yarn format

upgraded styled component standard
  package.json
  yarn.lock
Due: yarn format

update package and remove integration test (deprecated)
  __tests__/pages/aboutus.test.tsx
  __tests__/pages/category.test.tsx
  __tests__/pages/categoryId.test.tsx
  __tests__/pages/checklist.test.tsx
  __tests__/pages/knowyourrights.test.tsx
  __tests__/pages/letushelp.test.tsx
  __tests__/pages/letushelp_clearmyrecord.test.tsx
  __tests__/pages/letushelp_diversion.test.tsx
  __tests__/pages/letushelp_diversion_apply.test.tsx
  __tests__/pages/letushelp_diversion_areyouaclient.test.tsx
  __tests__/pages/letushelp_specialtycourts.test.tsx
  __tests__/pages/root.test.tsx
  __tests__/pages/thrivestories.test.tsx
  components/Footer.module.css
  components/Footer.tsx
  components/Header.module.css
  components/Header.tsx
  components/RecordPane.tsx
  package.json
  pages/[category]/index.tsx
  tsconfig.tsbuildinfo
  yarn.lock
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

wip
  components/Credo47Landing/Credo47Landing.module.css
  components/Credo47Landing/Credo47Landing.tsx
  public/icons/checklist.svg
  public/icons/phoneFill.svg
  public/icons/phonecall.svg
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

wip added content
  components/Credo47Landing/Credo47Landing.module.css
  components/Credo47Landing/Credo47Landing.tsx
  components/DiversionLanding/DiversionLandingPage.module.css
  components/DiversionLanding/DiversionLandingPage.tsx
  constants/documents.ts
  constants/index.ts
  documents/Diversion_Referral_Form.pdf
  documents/Diversion_Referral_Instructions.pdf
  documents/Stabilization_Center_brochure.pdf
  documents/Stepdown_Housing_Brief.pdf
  pages/documents/diversionreferralform.tsx
  pages/documents/diversionreferralinstruction.tsx
  pages/documents/stabalizationcenterbrochure.tsx
  pages/documents/stepdownhousingbrief.tsx
  public/icons/info.svg
  public/icons/website.svg
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

wip
  components/HomePage/HomepageMainBanner.module.css
  components/HomePage/HomepageMainBanner.tsx
  components/ResourceHub.module.css
  components/ResourceHub.tsx
  pages/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

Wip
  components/LocationRecordDisplay.module.css
  components/LocationRecordDisplay.tsx
  components/OrgRecordDisplay.module.css
  components/OrgRecordDisplay.tsx
  public/icons/phoneFill.svg
  public/icons/website.svg
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

wip
  components/LocationRecordDisplay.module.css
  components/LocationRecordDisplay.tsx
  public/icons/home.svg
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

wip
  components/LocationRecordDisplay.module.css
  components/LocationRecordDisplay.tsx
  public/icons/email.svg
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

WIP
  components/LocationRecordDisplay.module.css
  components/LocationRecordDisplay.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

WIP
  components/ResourceHub.module.css
Due: yarn lint-css, yarn format

WIP used homepage main banner as main component
  components/HomepageMainBanner.module.css
  components/HomepageMainBanner.tsx
  components/ResourceHub.module.css
  pages/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format
