Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

.lintstagedrc.json:

{
  "./**/*.{js,jsx,ts,tsx}": ["yarn lint-es", "yarn test"],
  "./**/*.{ts,tsx}": "yarn type-check",
  "./**/*.css": "yarn lint-css",
  "./**/*": "yarn format"
}

adding odyssey portal page
  pages/odysseyportal/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

restructure burgerItems
  components/BurgerItems.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

new footer design
  components/Footer.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

new styles for footer
  components/Footer.module.css
Due: yarn lint-css, yarn format

adding new style to favorite
  components/Header.module.css
Due: yarn lint-css, yarn format

adds tests for LetUsHelpCarLayout
  __tests__/components/LetUsHelpCardLayout.test.tsx
  components/LetUsHelpCardLayout.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

running prettier
  components/OrgRecordDisplay.tsx
  hooks/useFavorite.js
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding keys
  components/BurgerItems.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

running prettier
  components/Footer.module.css
Due: yarn lint-css, yarn format

adding and removing roles for tests
  components/Footer.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changing to specialty court
  constants/routes.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding style
  constants/materialStyles.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

running prettier
  styles/globals.css
Due: yarn lint-css, yarn format

adding key to map
  components/Header.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Court Support and Resource Support Routes
  constants/index.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changing text of hook
  components/Header.tsx
  components/OrgRecordDisplay.tsx
  hooks/useFavorite.js
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds tests for IsThisUsefulForm component
  __helpers__/dummyData.ts
  __tests__/components/IsThisUsefulForm.test.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding odyessey a link
  components/BurgerItems.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding footer styles
  components/Footer.module.css
Due: yarn lint-css, yarn format

restructure footer
  components/Footer.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changing style
  components/GlobalSearchResult.module.css
Due: yarn lint-css, yarn format

adding header style
  components/Header.module.css
Due: yarn lint-css, yarn format

adding odyssey portal link
  components/Header.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changing style
  components/LiveDataSearch.module.css
Due: yarn lint-css, yarn format

mobile search bar bug
  components/SearchTermsMarquee.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding odyssey portal link
  constants/routes.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

removing dotted line from <a>
  styles/globals.css
Due: yarn lint-css, yarn format

adding i
  components/Footer.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adjusting margin on mobile
  components/Footer.module.css
Due: yarn lint-css, yarn format

removing null
  components/SearchTermsMarquee.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changing useState type to any
  components/SearchTermsMarquee.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

small header css changes and fixing header tests
  __tests__/components/Header.test.tsx
  components/BurgerItems.tsx
  components/Footer.tsx
  components/SearchTermsMarquee.tsx
  constants/materialStyles.ts
  styles/globals.css
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

css syntax tweaks
  components/Header.module.css
  components/LiveDataSearch.module.css
Due: yarn lint-css, yarn format

fixes SearchTermsMarquee error
  components/SearchTermsMarquee.tsx
  pages/thrivestories/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

catches uri encoding error in /pages/search
  jest.config.js
  pages/search/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

centralizes useContext hooks in /hooks folder to make components neater
  components/DisplayMap.tsx
  components/GlobalSearchResult.tsx
  components/Header.tsx
  components/MobileButtonsLandingPage.tsx
  components/OrgRecordCard.tsx
  components/OrgRecordDisplay.tsx
  components/RecordPane.tsx
  hooks/index.ts
  hooks/useFavorite.ts
  hooks/useView.ts
  pages/_app.tsx
  pages/favorites/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changes useSearchFilters hook to useLocationFilters to more accurately reflect what it does, puts proximity filter back into map
  components/CityFilter.tsx
  components/DisplayMap.tsx
  helpers/isOpenNow.ts
  hooks/index.ts
  hooks/useLocationFilters.ts
  jest.config.js
  pages/[category]/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

removing odyssey page. Created link
  pages/odysseyportal/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding href and spanish translation
  components/Header.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding href fixing styling
  components/BurgerItems.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format
