Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

justifies text on /components/OrgRecordCard.tsx more evenly
  components/BurgerItems.module.ts
  components/BurgerItems.tsx
  components/Header.module.css
  components/Header.tsx
  components/OrgRecordCard.module.css
  components/OrgRecordCard.tsx
  components/OrgRecordDisplay.tsx
  constants/index.ts
  constants/routes.ts
  hooks/useFavorite.js
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

Update favorites.ts
  constants/favorites.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

improves tests for FetchedDataSearch, GlobalSearchResult, FindMe and Header
  __tests__/components/FetchedDataSearch.test.tsx
  __tests__/components/GlobalSearchResult.test.tsx
  __tests__/components/Header.test.tsx
  components/FindMe.tsx
  components/GlobalSearchResult.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

improves LangSwitcher coverage
  components/LangSwitcher.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

excises some unneeded tests
  __tests__/components/DisplayMap.test.tsx
  __tests__/components/MapMarker.test.tsx
  __tests__/pages/search.test.tsx
  components/DisplayMap.tsx
  components/MapMarker.tsx
  components/SendText.tsx
  jest.config.js
  pages/_app.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

filters out testing ffor isOpenNow function in /components/ScheduleRecordDisplay.tsx
  components/ScheduleRecordDisplay.tsx
  jest.config.js
Due: yarn lint-es, yarn test, yarn type-check, yarn format

cleans up jest.config.js
  jest.config.js
Due: yarn lint-es, yarn test, yarn format

adds LeafLoader back to category page
  __tests__/components/RecordPane.test.tsx
  components/index.ts
  jest.config.js
  pages/[category]/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

improves coverage of knowyourrights page
  __tests__/pages/knowyourrights.test.tsx
  pages/knowyourrights/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

clean up hooks and adds DisplayMap and MapMarker back into coveragePathIgnorePatterns in jest.config.js as I cannot figure out how to test them
  components/Header.tsx
  components/OrgRecordDisplay.tsx
  hooks/index.ts
  hooks/useFavorite.js
  hooks/useFavorite.ts
  hooks/useFormFields.ts
  hooks/useGetMatchingRecords.ts
  hooks/useMapInfo.ts
  hooks/useOnClickOutside.ts
  jest.config.js
  pages/_app.tsx
  pages/favorites/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds back PDFViewer, because it does make sense
  jest.config.js
Due: yarn lint-es, yarn test, yarn format

cleans up eslint errors, excises airtable code
  components/GlobalSearchResult.tsx
  components/OrgRecordCard.tsx
  constants/airtable.ts
  constants/index.ts
  hooks/useMultipleListRecords.ts
  hooks/useSingleRecord.ts
  pages/api/airtablecomment.ts
  pages/api/airtablerecordsbycategory.ts
  pages/api/airtablerecordsbykeyword.ts
  pages/api/singleairtablerecord.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

deletes airtable files
  pages/api/airtablecomment.ts
  pages/api/airtablerecordsbycategory.ts
  pages/api/airtablerecordsbykeyword.ts
  pages/api/singleairtablerecord.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

deleting more airtable stuff
  constants/airtable.ts
  constants/index.ts
  hooks/useMultipleListRecords.ts
  hooks/useSingleRecord.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

build changes
  .dockerignore
  Dockerfile
  next.config.js
Due: yarn lint-es, yarn test, yarn format

i think i've fixed the docker build issue, we'll see
  Dockerfile
  __helpers__/contexts.tsx
  next-env-globals.d.ts
  next-env.d.ts
  next.config.js
  package.json
  tsconfig.json
  yarn.lock
Due: yarn lint-es, yarn test, yarn type-check, yarn format

still single stage build, but improving
  Dockerfile
Due: yarn format

changing media query
  components/Burger.module.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding SubMenuItemInButton
  components/BurgerItems.module.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Restructure BurgerItem logic to match header
  components/BurgerItems.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding style to footer.module
  components/Footer.module.css
Due: yarn lint-css, yarn format

redesign footer
  components/Footer.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding style to header.module
  components/Header.module.css
Due: yarn lint-css, yarn format

Redesign of Header
  components/Header.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding style to livedatatsearch.module
  components/LiveDataSearch.module.css
Due: yarn lint-css, yarn format

spell check
  constants/favorites.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

prettier
  constants/index.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding style to material
  constants/materialStyles.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding new properties for submenu links
  constants/routes.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding overrides for material ui
  styles/globals.css
Due: yarn lint-css, yarn format

adding new properties for submenu links
  types/routes.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

restructuring footer
  components/Footer.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

restructuring header
  components/Header.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

restructuring routes
  constants/routes.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds text for multi stage docker deployment for when aptible supports that, which should be soon
  Multi Stage Docker Proof.txt
Due: yarn format

safe updates to latest packages
  components/FetchedDataSearch.tsx
  components/SearchTermsMarquee.tsx
  hooks/useGlobalSearch.tsx
  hooks/useMultipleListRecords.ts
  package.json
  yarn.lock
Due: yarn lint-es, yarn test, yarn type-check, yarn format

updates readme and adds tests for MobileAppBar
  README.md
  __tests__/components/MobileAppBar.test.tsx
  components/DesktopFilterView.tsx
  components/MobileAppBar.tsx
  yarn.lock
Due: yarn lint-es, yarn test, yarn type-check, yarn format

restructuring footer style
  components/Footer.module.css
Due: yarn lint-css, yarn format

Path conditions:
  yarn lint-es: any of: ./**/*.{js,jsx,ts,tsx}
  yarn test: any of: ./**/*.{js,jsx,ts,tsx}
  yarn type-check: any of: ./**/*.{ts,tsx}
  yarn lint-css: any of: ./**/*.css
  yarn format: any of: ./**/*
