Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

.lintstagedrc.json:

{
  "./**/*.{js,jsx,ts,tsx}": ["yarn lint-es", "yarn test"],
  "./**/*.{ts,tsx}": "yarn type-check",
  "./**/*.css": "yarn lint-css",
  "./**/*": "yarn format"
}

adding groupedDays
  pages/dashboard/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

removing weekday from index
  constants/index.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changing import
  helpers/isOpenNow.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

WIP
  constants/categories.ts
  constants/filter.ts
  constants/routes.ts
  constants/service-filter-data.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changing format
  helpers/timeConverter.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

WIP: add icons
  public/icons/education.svg
  public/icons/education_marker.svg
Due: yarn format

adding if statement
  helpers/timeConverter.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

WIP: Commented resoure directory routes
  constants/categories.ts
  constants/filter.ts
  constants/index.ts
  constants/routes.ts
  constants/service-filter-data.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changing import path
  pages/api/postAddNewLocation.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changing import path
  pages/api/postAddNewSchedule.tsx
  pages/api/postAddNewService.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changing import path
  pages/api/postDeleteLocation.tsx
  pages/api/postDeleteSchedule.tsx
  pages/api/postDeleteService.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

reformatting helpers
  helpers/timeConverter.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding time selectors and day checkboxes
  pages/dashboard/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

update all green dependencies
  package.json
  yarn.lock
Due: yarn format

follow-redirect update
  yarn.lock
Due: yarn format

WIP
  components/AddLocationModal.tsx
  pages/api/postAddLocationRequest.ts
  pages/dashboard/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

wip: refactor and new dash
  components/AddLocationModal.tsx
  components/DashboardNavBar/DashboardNavBar.tsx
  components/DisplayCBOUserInfo/DisplayCBOOrgInfo.module.css
  components/DisplayCBOUserInfo/DisplayCBOOrgInfo.tsx
  components/DisplayCBOUserInfo/IndividualInfo/IndividualInfo.module.css
  components/DisplayCBOUserInfo/IndividualInfo/IndividualInfo.tsx
  components/DisplayCBOUserInfo/ModalUpdateOrgInfo/ModalUpdateOrgInfo.module.css
  components/DisplayCBOUserInfo/ModalUpdateOrgInfo/ModalUpdateOrgInfo.tsx
  components/DisplayLocations/DisplayLocations.module.css
  components/DisplayLocations/DisplayLocations.tsx
  components/DisplayLocations/ModalDelLocation/ModalDelLocation.tsx
  components/DisplayLocations/ModalReqAddLocation/ModalReqAddLocation.tsx
  components/DisplayLocations/ModalUpdateLocInfo/ModalUpdateLocInfo.module.css
  components/DisplayLocations/ModalUpdateLocInfo/ModalUpdateLocInfo.tsx
  components/DisplayLocations/ModalUpdateSchedReq/DayInput/DayInput.module.css
  components/DisplayLocations/ModalUpdateSchedReq/DayInput/DayInput.tsx
  components/DisplayLocations/ModalUpdateSchedReq/ModalUpdateSchedReq.module.css
  components/DisplayLocations/ModalUpdateSchedReq/ModalUpdateSchedReq.tsx
  components/TabPanel/TabPanel.module.css
  components/TabPanel/TabPanel.tsx
  helpers/createDailySchedule.ts
  pages/api/postAddLocationRequest.ts
  pages/api/postDelLocationRequest.ts
  pages/api/postEditScheduleRequest.ts
  pages/api/postUpdateLocation.ts
  pages/api/postUpdateOrganization.ts
  pages/dashboard/index.module.css
  pages/dashboard/index.tsx
  pages/dashboard/indexOriginal.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

wip format change
  styles/globals.css
Due: yarn lint-css, yarn format

add logout button
  components/DisplayLocations/DisplayLocations.module.css
  pages/dashboard/index.module.css
  pages/dashboard/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

update file
  yarn.lock
Due: yarn format

corrected button label
  components/DisplayLocations/DisplayLocations.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

wip
  yarn.lock
Due: yarn format

wip add fresh start landing page content
  components/FreshStartHowToApply.tsx
  components/FreshStartText.module.css
  components/FreshStartText.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

wip: added new fields for CBO sign up screen
  pages/api/postSignup.ts
  pages/signup/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

wip add api field
  pages/api/postSignup.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

wip CSS change
  pages/signup/index.module.css
  pages/signup/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

update dependencies
  package.json
  yarn.lock
Due: yarn format

fix spelling
  pages/signup/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

update yellow and green
  package.json
  yarn.lock
Due: yarn format

iupdate package
  next-env.d.ts
  package.json
  yarn.lock
Due: yarn lint-es, yarn test, yarn type-check, yarn format

removed are you a client prompt
  constants/routes.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

updated Fresh Start landing page translation
  components/FreshStartHowToApply.tsx
  components/FreshStartText.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

pdf view fix
  next.config.js
Due: yarn lint-es, yarn test, yarn format

WIP
  components/FreshStartLanding/FreshStartLanding.module.css
  components/FreshStartLanding/FreshStartLanding.tsx
  pages/freshstart/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

Disable login page
  pages/login/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

wip: added FS text
  components/FreshStartLanding/FreshStartLanding.module.css
  components/FreshStartLanding/FreshStartLanding.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

WIP
  components/FreshStartLanding/FreshStartHowToApply/FreshStartHowToApply.module.css
  components/FreshStartLanding/FreshStartHowToApply/FreshStartHowToApply.tsx
  components/FreshStartLanding/FreshStartLanding.module.css
  components/FreshStartLanding/FreshStartLanding.tsx
  components/FreshStartLanding/FreshStartServices/FreshStartServices.module.css
  components/FreshStartLanding/FreshStartServices/FreshStartServices.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

wip: new design
  components/FreshStartLanding/FreshStartLanding.module.css
  components/FreshStartLanding/FreshStartLanding.tsx
  components/FreshStartLanding/FreshStartServices/FreshStartServices.module.css
  components/FreshStartLanding/FreshStartServices/FreshStartServices.tsx
  public/images/Jill-Stanton.jpg
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

upgrade deps 4/27/22
  tsconfig.json
  yarn.lock
Due: yarn format

wip: update translation
  components/FreshStartLanding/FreshStartHowToApply/FreshStartHowToApply.tsx
  components/FreshStartLanding/FreshStartLanding.tsx
  components/HomepageMainBanner.tsx
  components/UnsureWhereToStart.tsx
  components/WhatWeDo.tsx
  constants/aboutus-data.ts
  constants/routes.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format
