Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn test, yarn lint-es, yarn type-check, echo 'lint-css disabled because of version/security issue. will check later', yarn format

.lintstagedrc.json:

{
  "./**/*.{js,jsx,ts,tsx}": ["yarn test", "yarn lint-es"],
  "./**/*.{ts,tsx}": "yarn type-check",
  "./**/*.css": "echo 'lint-css disabled because of version/security issue. will check later'",
  "./**/*": "yarn format"
}

adding q's
  constants/faq-data.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding q's to index
  constants/index.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding q's to faqpage
  pages/faq/index.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding adobe pic and oval
  pages/faq/index.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding adobe pic
  public/images/faqPic.jpeg
Due: yarn format

copy edits faq-data.ts
  __tests__/components/Header.test.tsx
  constants/faq-data.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

changes pictures to higher rez versions with no watermarks
  pages/index.tsx
  pages/letushelp/documents/index.tsx
  pages/letushelp/familyresources/index.tsx
  pages/letushelp/recommendedresources/index.tsx
  pages/letushelp/resourcesforwomen/index.tsx
  public/images/documentsPic.jpeg
  public/images/familyFriendsPic.jpeg
  public/images/familyresources_placeholder.png
  public/images/homepageResourcesPic.jpeg
  public/images/homepage_placeholder.png
  public/images/recResourcesPic.jpeg
  public/images/recresources_placeholder.png
  public/images/resourcesWomenPic.jpeg
  public/images/resourcesforwomen_placeholder.png
  public/images/whereToStartPic.jpeg
  public/images/wheretostart_placeholder.png
  public/service-worker.js
Due: yarn test, yarn lint-es, yarn type-check, yarn format

changes footer color and footer text color
  components/Footer.module.css
  styles/variables.css
Due: echo 'lint-css disabled because of version/security issue. will check later', yarn format

fixes GHSA-6fc8-4gx4-v693
  package.json
  yarn.lock
Due: yarn format

adds resolution in package.json to fix issue CVE-2021-33623 with trim-newlines package
  package.json
  yarn.lock
Due: yarn format

fixes issue CVE-2021-23364: RegEx Denial of Service vulnerability with browserslist npm package
  package.json
  yarn.lock
Due: yarn format

gets is this useful info to api route and changes is_useful data type to accomadate limits of mssql server
  __tests__/components/IsThisUsefulForm.test.tsx
  components/IsThisUsefulForm.tsx
  components/IsThisUsefulTag.tsx
  pages/api/airtablecomment.ts
  types/records.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

submits data to airtable correctly
  components/IsThisUsefulForm.tsx
  pages/api/airtablecomment.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

this feature now takes submitted data, transmits it to airtable and informs the user of the comment submission's success or failure
  components/IsThisUsefulForm.module.css
  components/IsThisUsefulForm.tsx
  components/Popup.module.css
  components/Toast.module.css
Due: yarn test, yarn lint-es, yarn type-check, echo 'lint-css disabled because of version/security issue. will check later', yarn format

creates version with fake coords for presentation
  helpers/location.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

fixes leaf loader disappearing issue
  components/LeafLoader.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

starts docker experiment
  .dockerignore
  Dockerfile
Due: yarn format

adds aptible to list of allowed hosts
  helpers/validators.ts
  types/CORS.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

should fix public variable problem with mapbox
  Dockerfile
Due: yarn format

trying another tactic for the public next js variables
  Dockerfile
Due: yarn format

another
  Dockerfile
Due: yarn format

novel way to solve public variable problem
  .dockerignore
  Dockerfile
Due: yarn format

trying explicit approach to docker setup
  Dockerfile
Due: yarn format

syntax error, i hope
  .dockerignore
  Dockerfile
Due: yarn format

changed order of operations
  Dockerfile
Due: yarn format

another ooo change
  Dockerfile
Due: yarn format

trying a different approach one more time
  Dockerfile
Due: yarn format

adds simple script for aptible deployment
  package.json
Due: yarn format

temporarily comments out GREP command in dockerfile to load NEXT_PUBLIC variables, since afaik Aptible requires something to be deployed before you set env variables
  Dockerfile
Due: yarn format

uncomments last commit
  Dockerfile
Due: yarn format

updating package and README to reflect new repo
  README.md
  package.json
Due: yarn format

updates version
  package.json
Due: yarn format

adds netlify.toml to handle older plugins on netlify build
  netlify.toml
Due: yarn format

fixes netlify.toml syntax
  netlify.toml
Due: yarn format

fixing syntax again
  netlify.toml
Due: yarn format

another syntax fix
  netlify.toml
Due: yarn format

updates next package
  netlify.toml
  package.json
  yarn.lock
Due: yarn format

syntax experiment
  netlify.toml
Due: yarn format
