Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

.lintstagedrc.json:

{
  "./**/*.{js,jsx,ts,tsx}": ["yarn lint-es", "yarn test"],
  "./**/*.{ts,tsx}": "yarn type-check",
  "./**/*.css": "yarn lint-css",
  "./**/*": "yarn format"
}

removing unnecessary vars, token and circular
  pages/verifyemail/[verificationString]/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changing name of file to postCBO to be more specific
  types/index.ts
  types/records.ts
  types/sequelize.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds in validations that scroll back to specific fields
  components/ExpungementForm.tsx
  components/ExpungementSignature.tsx
  constants/forms.ts
  pages/api/recordClearance.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changes sign in logic to accomodate jwt
  pages/api/postCBO.ts
  pages/api/postLogin.ts
  pages/api/postUpdateAdminInfo.ts
  pages/dashboard/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds logout route
  pages/api/logout.ts
  pages/dashboard/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

games out structure for webhook and status updating system, adds disclaimer
  components/ExpungementForm.tsx
  pages/api/recordClearance.ts
  pages/api/sendGridWebhook.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

upgrades packages and fixes CVE-2021-3765
  package.json
  yarn.lock
Due: yarn format

updates node version in dockerfile
  Dockerfile
Due: yarn format

finishing merge
  yarn.lock
Due: yarn format

areworks Dockerfile to take advantage of multi stage builds
  .dockerignore
  Dockerfile
  old_docker_setups.txt
Due: yarn format

begins to refine form with input from amanda paison
  components/ExpungementForm.module.css
  components/ExpungementForm.tsx
  components/OldExpungmentFormStyles.module.css
  ui/Input.module.css
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

adding orgId to cbo table
  helpers/sequelize.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding orgId to jwt
  pages/api/postLogin.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

fetching org
  pages/api/postOrg.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changed file name and added logic to update info
  pages/api/postUpdateAdminInfo.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changed file name and added logic to update info
  pages/api/postUpdateCBOInfo.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding orgId
  types/sequelize.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

pulling in cbo info
  pages/dashboard/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds final versions of form, sets up Expungement form component to fill them out
  components/ExpungementForm.tsx
  documents/Financial_Declaration.pdf
  helpers/forms.ts
  pages/api/recordClearance.ts
  pages/expungement/index.tsx
  types/forms.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

WIP
  components/DiversionQualify.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

does a deep mapping pattern and gets org info updating in state correctly
  helpers/sequelize.ts
  pages/api/jwt.ts
  pages/api/postCBO.ts
  pages/api/postForgotPassword.ts
  pages/api/postOrg.ts
  pages/dashboard/index.tsx
  pages/signup/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds jwt verification to expungement
  components/ExpungementForm.tsx
  constants/cookies.ts
  constants/index.ts
  helpers/sequelize.ts
  pages/api/jwt.ts
  pages/api/recordClearance.ts
  pages/expungement/index.tsx
  types/forms.ts
  types/index.ts
  types/sequelize.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding logic for updating org
  pages/api/postUpdateCBOInfo.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding logic for updating org on front end
  pages/dashboard/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

code cleanup
  hooks/useForm.ts
  pages/api/postForgotPassword.ts
  pages/api/postLogin.ts
  pages/api/postResetPassword.tsx
  pages/api/postSignupCBO.ts
  pages/api/postVerifyEmail.ts
  pages/dashboard/index.tsx
  pages/forgotpassword/[passwordResetCode]/index.tsx
  pages/forgotpassword/index.tsx
  pages/login/index.tsx
  pages/signup/index.tsx
  pages/verifyemail/[verificationString]/index.tsx
  pages/verifyemail/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

fixes minor circular dependency issue
  components/ExpungementForm.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changes spbd maintainer to env variable
  pages/api/postSignupCBO.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

fixes chunking error caused in next.config.js
  next.config.js
Due: yarn lint-es, yarn test, yarn format

fixes bcrypt library error by switching to bcryptjs
  next.config.js
  package.json
  pages/api/postLogin.ts
  pages/api/postResetPassword.tsx
  pages/api/postSignupCBO.ts
  yarn.lock
Due: yarn lint-es, yarn test, yarn type-check, yarn format

fixes, hopefully, docker deployment errors by commenting out circular dependency plugin in next.config.js
  Dockerfile
  next.config.js
Due: yarn lint-es, yarn test, yarn format

slight change to next.config.js to allow more dynamic access to the circular dep plugin
  next.config.js
  package.json
Due: yarn lint-es, yarn test, yarn format

gets client signup info to postSignup route
  helpers/sequelize.ts
  hooks/useForm.ts
  pages/api/postSignup.ts
  pages/signup/index.tsx
  types/sequelize.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds client to table
  pages/api/postSignup.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

logs in clients and cbos, routes them and prevents them from going to each others destination
  pages/api/postLogin.ts
  pages/api/recordClearance.ts
  pages/dashboard/index.tsx
  pages/expungement/index.tsx
  pages/login/index.tsx
  types/sequelize.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

gets rid of an annoying console.log
  pages/api/postLogin.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

hardcodes filsan's email to use for presentation
  pages/api/recordClearance.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

the financial declaration pdf had a field that was checked, now it is blank
  documents/Financial_Declaration.pdf
Due: yarn format

changes name of record expungement service to fresh start
  pages/freshstart/index.tsx
  pages/login/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changes fresh start form max width to 900px
  components/ExpungementForm.module.css
Due: yarn lint-css, yarn format

disables signup and login buttons until signupType is selected
  .prettierrc.json
  pages/login/index.tsx
  pages/signup/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format
