Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn test, yarn lint-es, yarn type-check, echo 'lint-css disabled because of version/security issue. will check later', yarn format

.lintstagedrc.json:

{
  "./**/*.{js,jsx,ts,tsx}": ["yarn test", "yarn lint-es"],
  "./**/*.{ts,tsx}": "yarn type-check",
  "./**/*.css": "echo 'lint-css disabled because of version/security issue. will check later'",
  "./**/*": "yarn format"
}

rolling back language changes, google analytics is not very friendly
  components/LiveDataSearch.tsx
  helpers/analytics.ts
  pages/search/index.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adds language to metrics tracked
  components/LiveDataSearch.tsx
  helpers/analytics.ts
  pages/search/index.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

cleaning up images and icons
  components/LeafLoader.tsx
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
  public/icons/leaf.svg
  public/icons/thriveleaffavicon.svg
  public/images/favicon.ico
  public/images/heart.svg
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adds lazy load option to PictureWithOval componentsand footer and begins optimizing images
  components/Footer.tsx
  components/PictureWithOval.tsx
  components/SBPDLogo.tsx
  pages/index.tsx
  public/images/documents_placeholder.png
  public/images/whereToStartPic.jpeg
  public/images/whereToStartPic.jpg
Due: yarn test, yarn lint-es, yarn type-check, yarn format

changing loading to lazy where applicable and optimizing image sizes
  components/MapMarker.tsx
  components/ResourceHub.tsx
  components/TopThreeCta.tsx
  pages/faq/index.tsx
  pages/index.tsx
  pages/letushelp/documents/index.tsx
  pages/letushelp/familyresources/index.tsx
  pages/letushelp/recommendedresources/index.tsx
  pages/letushelp/resourcesforwomen/index.tsx
  public/images/cheech.jpg
  public/images/documentsPic.jpeg
  public/images/documentsPic.jpg
  public/images/familyFriendsPic.jpeg
  public/images/familyFriendsPic.jpg
  public/images/faqPic.jpeg
  public/images/faqPic.jpg
  public/images/homepageResourcesPic.jpeg
  public/images/homepageResourcesPic.jpg
  public/images/lisarising.jpg
  public/images/recResourcesPic.jpeg
  public/images/recResourcesPic.jpg
  public/images/resourcesWomenPic.jpeg
  public/images/resourcesWomenPic.jpg
Due: yarn test, yarn lint-es, yarn type-check, yarn format

all raster images optimized
  public/images/trainsandbusesenglish-thumb.jpg
  public/images/trainsandbusesspanish-thumb.jpg
Due: yarn format

added lazy loading to MostUsedResourcesCta.tsx
  components/MostUsedResourcesCta.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding context for view
  helpers/view.ts
  hooks/index.ts
  hooks/useView.ts
  pages/_app.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

switching to viewHook
  components/MobileButtonsLandingPage.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

readjusting zoom for mobile
  hooks/useMapInfo.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

chaning to useView hook and adding conditional styling to prevent reload
  pages/[category]/index.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding margin for mobile view
  ui/Details.module.css
Due: echo 'lint-css disabled because of version/security issue. will check later', yarn format

chaning zoom to 7 for better view in mobile
  hooks/useMapInfo.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

cut down my js needed on first load by half
  constants/database-creds.ts
  helpers/index.ts
  next.config.js
  public/service-worker.js
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding open/now close buttons updates every 15 seconds
  components/ScheduleRecordDisplay.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

disabling button
  components/ScheduleRecordDisplay.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding useOpenNow hook
  hooks/index.ts
  hooks/useOpenNow.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

removes pwa
  .eslintignore
  .prettierignore
  __helpers__/index.ts
  __helpers__/window.ts
  __tests__/components/OrgRecordDisplay.test.tsx
  __tests__/components/PwaDownload.test.tsx
  components/PwaDownload.module.css
  components/PwaDownload.tsx
  components/index.ts
  hooks/useMapInfo.ts
  next-env.d.ts
  next.config.js
  package.json
  pages/_document.tsx
  pages/index.tsx
  public/manifest.json
  public/service-worker.js
  public/workbox-a9b579d2.js
  yarn.lock
Due: yarn test, yarn lint-es, yarn type-check, echo 'lint-css disabled because of version/security issue. will check later', yarn format

DisplayMap loading with need of Mapbox React library, good for first load js numbers
  __mocks__/mapbox-gl.ts
  components/DisplayMap.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

removing react mapbox gl library
  __tests__/components/MapMarker.test.tsx
  components/DisplayMap.tsx
  components/MapMarker.tsx
  package.json
  yarn.lock
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding next bundle analyzer
  next.config.js
  package.json
  yarn.lock
Due: yarn test, yarn lint-es, yarn format

removing webpack-bundle-analyzer
  next.config.js
  package.json
  yarn.lock
Due: yarn test, yarn lint-es, yarn format

adding margin
  components/DisplayCategoryImage.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

conditional rendering of css based on view and screensize taking out legend
  components/DisplayMap.module.css
  components/DisplayMap.tsx
  components/RecordPane.module.css
  components/RecordPane.tsx
Due: yarn test, yarn lint-es, yarn type-check, echo 'lint-css disabled because of version/security issue. will check later', yarn format

changing to menuItem class
  components/FilterCity.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

changing to 1275px
  components/Footer.module.css
  components/GlobalSearchResult.module.css
  components/LiveDataSearch.module.css
Due: echo 'lint-css disabled because of version/security issue. will check later', yarn format

changing styling
  components/MobileButtonsLandingPage.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

changing to a isOpenNow helper
  components/ScheduleRecordDisplay.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

Taken out drugs from english and spanish versions
  constants/faq-data.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding weekday to costants
  constants/index.ts
  constants/weekday.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding margin adjusting media queries
  constants/materialStyles.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

changing isOpen to helper
  helpers/index.ts
  helpers/isOpenNow.tsx
  hooks/index.ts
Due: yarn test, yarn lint-es, yarn type-check, yarn format

moving logic to css
  pages/[category]/index.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adding width and changing media query
  ui/Details.module.css
Due: echo 'lint-css disabled because of version/security issue. will check later', yarn format

first load js now down to less than a quarter of what it was
  components/DisplayMap.tsx
  components/MapMarker.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

map should be as resposnsive as before with about a quarter the needed js
  components/DisplayMap.tsx
  components/MapMarker.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

reworks next.config.js a bit
  next.config.js
Due: yarn test, yarn lint-es, yarn format

shakes tree of material packages a bit
  pages/aboutus/index.tsx
  pages/knowyourrights/index.tsx
  pages/letushelp/legalterms/index.tsx
Due: yarn test, yarn lint-es, yarn type-check, yarn format

adds webpack bundle anzlyzer and script to read report
  next.config.js
  package.json
  yarn.lock
Due: yarn test, yarn lint-es, yarn format

removes types for react-map-gl:
  package.json
  yarn.lock
Due: yarn format
