Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

fixing href issue and display in spanish bug
  components/Footer.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changing footer style
  components/Footer.module.css
Due: yarn lint-css, yarn format

starting refactor of useSearchFilters
  hooks/useSearchFilters.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

cleans up right side of Footer
  components/Footer.module.css
  components/Footer.tsx
  constants/materialStyles.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

changes privacy policy link to reflect link colors
  components/Footer.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

full size footer looking better, oddyssey portal link fixed
  components/Footer.module.css
  components/Footer.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

redoes space on left side of header
  components/Footer.module.css
  components/Footer.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

adds useResizeEvent to SearchTermsMarquee
  components/SearchTermsMarquee.tsx
  hooks/useResizeEvent.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

fixing up to centralize useGetMatchingRecords
  hooks/useSearchFilters.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

new useSearchFilters ready to try
  hooks/index.ts
  hooks/useSearchFilters.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

fixes small typing issue with useSearchFilters hook
  hooks/useSearchFilters.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

both languages and filters working, also added toast for when there is no record to be found
  hooks/useSearchFilters.ts
  pages/[category]/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

updating next to patch security issue GHSA-9gr3-7897-pp7m . note that this requires disabling tests that use next-page-tester. this should be temporary
  jest.config.js
  package.json
  yarn.lock
Due: yarn lint-es, yarn test, yarn format

removing object-path from resolutions dependencies re: CVE-2020-15256
  package.json
  yarn.lock
Due: yarn format

changes useView hook to use simple boolean state instead of unnecssary reducer
  components/DisplayMap.tsx
  components/MobileButtonsLandingPage.tsx
  components/RecordPane.tsx
  helpers/index.ts
  helpers/view.ts
  pages/_app.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

new footer style
  components/Footer.module.css
Due: yarn lint-css, yarn format

reformatting desktop footer, fixing court button on mobile
  components/Footer.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding a finance accord
  components/HrefAccordian.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding data for finance accord
  constants/checklist-data.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding finance to index
  constants/index.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

textAlign to the left
  constants/materialStyles.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

styles changes for footer
  components/Footer.module.css
Due: yarn lint-css, yarn format

restyle footer
  components/Footer.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding activeCopy
  components/Header.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

refactors resource hub component to match new wireframes
  components/ResourceHub.module.css
  components/ResourceHub.tsx
  styles/variables.css
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

adds homepage banner component, redoes buttons to change main color to green
  components/Header.module.css
  components/HomepageMainBanner.module.css
  components/HomepageMainBanner.tsx
  components/index.ts
  pages/index.tsx
  styles/variables.css
  ui/Button.module.css
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

starting unew let us help components
  components/UnsureWhereToStart.module.css
  components/UnsureWhereToStart.tsx
  components/index.ts
  pages/index.tsx
  styles/variables.css
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

changing language to reflect all justice impacted
  constants/aboutus-data.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding resume template data
  constants/faq-data.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

abc sort and adding resumeTemplate to index
  constants/index.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changing language to reflect all justice impacted
  constants/privacypolicy-data.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

removing empty lines and changing reentry language
  pages/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

pulling in resumeTemplate data
  pages/faq/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

updates button colors
  ui/Button.module.css
Due: yarn lint-css, yarn format

completes unsure where to start component
  components/UnsureWhereToStart.module.css
  components/UnsureWhereToStart.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

adds bounce to resource links, removes unneeded margin from is this useful tag
  components/IsThisUsefulTag.module.css
  components/ResourceHub.module.css
Due: yarn lint-css, yarn format

streamlines right grid of footer
  components/Footer.module.css
  components/Footer.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

creates What we do component
  components/UnsureWhereToStart.module.css
  components/WhatWeDo.module.css
  components/WhatWeDo.tsx
  components/index.ts
  pages/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

adds new icons
  components/WhatWeDo.tsx
  public/icons/accurate.svg
  public/icons/community.svg
  public/icons/support.svg
Due: yarn lint-es, yarn test, yarn type-check, yarn format

styling retouches and modifying unfinished landing pages to be bilingual
  components/LetUsHelpCardLayout.module.css
  components/LetUsHelpTiles.module.css
  components/OrgRecordDisplay.module.css
  pages/addyourorg/index.tsx
  pages/letushelp/[wildcard]/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

Path conditions:
  yarn lint-es: any of: ./**/*.{js,jsx,ts,tsx}
  yarn test: any of: ./**/*.{js,jsx,ts,tsx}
  yarn type-check: any of: ./**/*.{ts,tsx}
  yarn lint-css: any of: ./**/*.css
  yarn format: any of: ./**/*
