Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

fixes hashed hardcoded links and replaces them with new db ids
  constants/cards.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

abstracts intersection obsrever hook into reusable useIntersectionStyle hook
  components/Quotes.tsx
  hooks/index.ts
  hooks/useIntersectionStyle.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds smooth scroll to resource hub at top of home page
  components/HomepageMainBanner.tsx
  components/ResourceHub.tsx
  components/WhatWeDo.tsx
  styles/globals.css
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

comments out quote component
  pages/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds local alternative to run data on windows machine
  README.md
  data/docker_pg_init.sql
  data/native_pg_init.sql
  data/native_pg_seed.sql
  docker_postgres.yml
Due: yarn format

begins work on pre generating static html and json to help with seo, not currently working
  pages/[category]/[id].tsx
  pages/[category]/index.tsx
  pages/api/getSingleRecord.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

style changes to footer
  components/Footer.module.css
Due: yarn lint-css, yarn format

adding arrow button for dropdowns in footer
  components/Footer.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

removing textAlign left
  components/HrefAccordian.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changing number of cards per row in smaller view
  components/ProbationAccordian.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding honest jobs to job accordian
  constants/checklist-data.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changing styles
  constants/materialStyles.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding word break
  pages/checklist/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Cleaning up style on faq page
  pages/faq/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Changing font and adding padding to fav page
  pages/faq/index.tsx
  pages/favorites/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Cleaning up cards amd links on know your rights page
  pages/knowyourrights/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding padding
  pages/letushelp/legalterms/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

starting to work with getStaticPaths for [id] pages, I don't think it's gonna make sense to have them by category and have duplicates
  pages/[category]/[id].tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

fixes width overflow issue with GlobalSearchResult component
  components/GlobalSearchResult.module.css
  pages/favorites/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

prettier space fix in CSS file
  components/Footer.module.css
Due: yarn lint-css, yarn format

fixes security issue CVE-2021-3749
  package.json
  yarn.lock
Due: yarn format

starting strategy for staticl html pages for orgs
  pages/[category]/[id].tsx
  pages/orgs/[id].tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

makes resource hub pages pre rendered
  __tests__/components/RecordPane.test.tsx
  components/DisplayMap.tsx
  components/RecordPane.tsx
  pages/[category]/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds pre rendering to family resources and womens resources pages
  components/OrgRecordCard.tsx
  pages/letushelp/familyresources/index.tsx
  pages/letushelp/resourcesforwomen/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

fixes multiple word pre fetching topic error on category pages
  pages/[category]/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

pushes all org pages requests to orgs/[id] instead of different pages for search and categories
  __tests__/components/OrgRecordCard.test.tsx
  components/MapMarker.tsx
  components/OrgRecordCard.tsx
  pages/orgs/[id].tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

creates static pages for org pages
  components/MapMarker.tsx
  components/OrgRecordDisplay.tsx
  hooks/index.ts
  hooks/useFormFields.ts
  hooks/useGetMatchingRecords.ts
  pages/orgs/[id].tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

changes push and Next link methods that point to old pattern /search page records and points them towards /orgs
  __tests__/components/GlobalSearchResult.test.tsx
  __tests__/components/LetUsHelpCardLayout.test.tsx
  components/AccessLineCta.tsx
  components/GlobalSearchResult.tsx
  components/LetUsHelpCardLayout.tsx
  components/PRRCcta.tsx
  constants/cards.ts
  constants/routes.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

redoes LeafLoader component in DisplayMap
  components/DisplayMap.tsx
  pages/[category]/index.tsx
  pages/orgs/[id].tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

starts introducing dummy data for fater dev experience with static paths and props
  __helpers__/dummyData.ts
  constants/env.ts
  constants/index.ts
  pages/letushelp/familyresources/index.tsx
  pages/letushelp/resourcesforwomen/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

silly error on docker, now fixed
  docker_postgres.yml
Due: yarn format

undoes previous dev changes to give others a chance to weigh in on dev speed
  pages/letushelp/familyresources/index.tsx
  pages/letushelp/resourcesforwomen/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

figuring out env issue for aptible deployment
  Dockerfile
Due: yarn format

hopefully fixes deployment errors
  Dockerfile
  next.config.js
Due: yarn lint-es, yarn test, yarn format

should fix env issue preventing static html from building
  Dockerfile
  Multi Stage Docker Proof.txt
Due: yarn format

takes out one little console.log
  pages/orgs/[id].tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds nicer geolocation access denial message
  constants/copy.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds resolution for set-value dep to use version patched to fix security issue CVE-2021-23440
  package.json
  yarn.lock
Due: yarn format

adding title tags in all pages except for /letushelp routes
  constants/aboutus-data.ts
  constants/documents.ts
  constants/privacypolicy-data.ts
  pages/documents/specialtycourtsrequirements.tsx
  pages/faq/index.tsx
  pages/privacypolicy/index.tsx
  pages/search/index.tsx
  types/documents.ts
  types/index.ts
  types/privacypolicy.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds full Head tags to all pages in letushelp routes
  pages/letushelp/[wildcard]/apply.tsx
  pages/letushelp/[wildcard]/areyouaclient.tsx
  pages/letushelp/[wildcard]/index.tsx
  pages/letushelp/clearmyrecord/index.tsx
  pages/letushelp/diversion/index.tsx
  pages/letushelp/documents/index.tsx
  pages/letushelp/familyresources/index.tsx
  pages/letushelp/index.tsx
  pages/letushelp/recommendedresources/index.tsx
  pages/letushelp/resourcesforwomen/index.tsx
  pages/letushelp/specialtycourts/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

Path conditions:
  yarn lint-es: any of: ./**/*.{js,jsx,ts,tsx}
  yarn test: any of: ./**/*.{js,jsx,ts,tsx}
  yarn type-check: any of: ./**/*.{ts,tsx}
  yarn lint-css: any of: ./**/*.css
  yarn format: any of: ./**/*
