Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

.lintstagedrc.json:

{
  "./**/*.{js,jsx,ts,tsx}": ["yarn lint-es", "yarn test"],
  "./**/*.{ts,tsx}": "yarn type-check",
  "./**/*.css": "yarn lint-css",
  "./**/*": "yarn format"
}

adds client verification
  components/EmailFail.tsx
  components/EmailSuccess.tsx
  package.json
  pages/api/postSignup.ts
  pages/api/postVerifyEmail.ts
  pages/signup/index.tsx
  pages/verifyemail/[verificationString]/index.tsx
  yarn.lock
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds client specific identifcation to forgotpassword page and route
  pages/api/postForgotPassword.ts
  pages/forgotpassword/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds password reset functionality for clients
  pages/api/postResetPassword.tsx
  pages/forgotpassword/[passwordResetCode]/index.tsx
  pages/verifyemail/[verificationString]/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

omits need for org field from client signup
  pages/signup/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

deletes unneeded expungment form components and comments out link to outdated application form
  components/ApplyForService.tsx
  components/ExpungementCaseInfo.tsx
  components/ExpungementDependents.tsx
  components/ExpungementEmploymentAndIncome.tsx
  components/ExpungementMainInfo.tsx
  components/ExpungementMaritalAndVeteranStatus.tsx
  components/ExpungementMonthlyExpenses.tsx
  components/ExpungementOtherIncomeAssets.tsx
  components/ExpungementProbationInfo.tsx
  components/index.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

fixes ApplyForService tests
  __tests__/components/ApplyForService.test.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding social media sites/icons
  components/Footer.tsx
  yarn.lock
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding social media icons styling
  constants/materialStyles.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

clean up postUpdateCBOInfo
  pages/api/postUpdateCBOInfo.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding translation logic
  pages/dashboard/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds parole and probation disclaimer to fresh start expungement
  components/ExpungementDisclaimer.tsx
  components/ExpungementForm.tsx
  components/index.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds text field for additonal info
  components/ExpungementAdditionalInfoForm.tsx
  components/ExpungementForm.module.css
  components/ExpungementForm.tsx
  components/ExpungementSignature.tsx
  components/index.ts
  types/forms.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

sends additional info field content as third pdf
  pages/api/recordClearance.ts
  pages/freshstart/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

loads email and communication preferences in form when it is filled out. need to change form prefs based on form choices and set up the status system and this will be ready
  components/ExpungementForm.tsx
  components/ExpungementSignature.tsx
  pages/api/jwt.ts
  pages/api/postLogin.ts
  pages/api/recordClearance.ts
  pages/freshstart/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds simple email notification when expungement form is seen by public defender
  components/ExpungementForm.tsx
  helpers/sequelize.ts
  pages/api/postSignup.ts
  pages/api/recordClearance.ts
  pages/api/sendGridWebhook.ts
  pages/dashboard/index.tsx
  pages/freshstart/index.tsx
  types/sequelize.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding accordian to break up data and locations
  pages/dashboard/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

over riding mui to center text on accordionSummary
  styles/globals.css
Due: yarn lint-css, yarn format

adds front page link to login
  __tests__/pages/root.test.tsx
  components/ExpungementForm.module.css
  components/HomepageMainBanner.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

adds /documents folder to build
  Dockerfile
Due: yarn format

update app purpose in about me page
  constants/aboutus-data.ts
  pages/aboutus/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

eliminates old language on expungement sign and date component
  components/ExpungementSignature.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

removing unused vars and adding key props
  components/PasswordResetFail.tsx
  components/RecordPane.tsx
  pages/dashboard/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds red box to needed required fields when not filled out
  components/ExpungementForm.tsx
  constants/forms.ts
  pages/api/recordClearance.ts
  types/forms.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds immigration as reason for applying in expungment
  components/ExpungementForm.tsx
  helpers/forms.ts
  pages/api/recordClearance.ts
  types/forms.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds additional info in financial declration form instead of a third, separate form
  helpers/forms.ts
  pages/api/recordClearance.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

makes control flow of LiveDataSearch a little bit clearer
  components/LiveDataSearch.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

reworks radio fields for demographic information
  documents/Financial_Declaration.pdf
Due: yarn format

updates devDependencies
  .husky/pre-commit
  .stylelintrc.json
  components/CityFilter.module.css
  components/DisplayMap.module.css
  components/Footer.module.css
  components/Header.module.css
  components/IsThisUsefulForm.module.css
  components/LeafLoader.module.css
  components/LetUsHelpHeading.module.css
  components/LiveDataSearch.module.css
  components/MostUsedResourcesCta.module.css
  components/Newsfeed.module.css
  components/OrgRecordDisplay.module.css
  components/RecordPane.module.css
  components/SearchTermsMarquee.module.css
  components/Toast.module.css
  package.json
  styles/globals.css
  styles/variables.css
  yarn.lock
Due: yarn lint-css, yarn format

adds new husky config
  .husky/pre-commit
Due: yarn format

deleting old husky config
  .huskyrc.json
  package.json
  yarn.lock
Due: yarn format

adds demographic info to expungement form
  components/ExpungementDemographics.tsx
  components/ExpungementForm.tsx
  components/index.ts
  types/forms.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adds checks for demographic info
  components/ExpungementDemographics.tsx
  constants/forms.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

eliminates phantom div in location filters
  components/DisplayMap.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding lat long properties
  pages/api/postUpdateCBOInfo.ts
Due: yarn lint-es, yarn test, yarn type-check, yarn format

adding latLong converter logic via mapbox. Locates by address neariest proximity
  pages/dashboard/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

minor css and key prop fixes
  components/Footer.tsx
  components/LiveDataSearch.module.css
  components/SearchTermsMarquee.module.css
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

makes mobile search bar more friendly
  components/LiveDataSearch.module.css
  components/LiveDataSearch.tsx
  components/SearchTermsMarquee.module.css
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format

comments out content security policy because it was throwing too many errors
  next.config.js
Due: yarn lint-es, yarn test, yarn format

adding list/view buttons to mobile view
  components/MobileButtonsLandingPage.tsx
  components/TagPane.tsx
  constants/materialStyles.ts
  pages/[category]/index.tsx
  pages/search/index.tsx
Due: yarn lint-es, yarn test, yarn type-check, yarn format

merging
  .husky/pre-commit
  .huskyrc.json
  .stylelintrc.json
  components/CityFilter.module.css
  components/DisplayMap.module.css
  components/DisplayMap.tsx
  components/ExpungementDemographics.tsx
  components/ExpungementForm.tsx
  components/ExpungementSignature.tsx
  components/Footer.module.css
  components/Footer.tsx
  components/Header.module.css
  components/IsThisUsefulForm.module.css
  components/LeafLoader.module.css
  components/LetUsHelpHeading.module.css
  components/LiveDataSearch.module.css
  components/LiveDataSearch.tsx
  components/MobileButtonsLandingPage.tsx
  components/MostUsedResourcesCta.module.css
  components/Newsfeed.module.css
  components/OrgRecordDisplay.module.css
  components/RecordPane.module.css
  components/SearchTermsMarquee.module.css
  components/TagPane.tsx
  components/Toast.module.css
  components/index.ts
  constants/forms.ts
  constants/materialStyles.ts
  documents/Financial_Declaration.pdf
  helpers/forms.ts
  next.config.js
  package.json
  pages/[category]/index.tsx
  pages/api/recordClearance.ts
  pages/search/index.tsx
  styles/globals.css
  styles/variables.css
  types/forms.ts
  yarn.lock
Due: yarn lint-es, yarn test, yarn type-check, yarn lint-css, yarn format
